auto-install-peers=true
strict-peer-dependencies=false
shamefully-hoist=false
enable-pre-post-scripts=true
onlyBuiltDependencies[]=@prisma/client
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=puppeteer
