@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full;
    font-family: 'Sarabun', system-ui, sans-serif;
  }
  body {
    @apply bg-gray-50 text-gray-800;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.safe-area-bottom {
  padding-bottom: env(safe-area-inset-bottom);
}
